@using SMSWEBAPI.Models
@model List<Student>



<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Mark Attendance</th>
                        <th scope="col">Full Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">
                                <!-- Add a checkbox or radio button to mark attendance -->
                                <input type="checkbox" name="attendance" value="@item.userid" />
                            </th>
                            <td>@item.FirstName @item.MiddleName @item.LastName</td>
                        </tr>
                    }
                    <div class="form-group">
                        <input type="submit" value="Mark As Present" class="btn btn-primary" />
                    </div>
                </tbody>
            </table>
        </div>
    </div>
</div>
